<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Navigation Example</title>
    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet" />
    <link href="/css/navbar_style.css" rel="stylesheet" /> <!-- 분리된 CSS 파일을 참조 -->


</head>
<body>
    <nav th:fragment="navbarnes">
    <div class="navbar">
        <a class="nes-btn" href="">만냠</a>
        <div>
            <div class="hamburger-menu" onclick="toggleMenu()">
                <i class="nes-logo"></i>
            </div>
        </div>
    </div>

    <div id="myNav" class="menu-panel">
        <a href="/userinfo">내 정보수정</a>
        <a href="/match">매칭하기</a>
        <a href="/matchResult">전체 매칭현황</a>
        <a href="#">이용방법</a>

        <section>
            <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-rounded-maker').showModal();">
                제작자 정보
            </button>
            <dialog class="nes-dialog is-rounded" id="dialog-rounded-maker" style="width: 80%;">
                <form method="dialog">
                    <p class="title">반가워용</p>
                    <p>CESC <i class="nes-icon instagram is-small"></i></p>
                    <p>컴공20 고경우 <i class="nes-icon github is-small"></i></p>
                    <p>컴공20 김준형 <i class="nes-icon github is-small"></i></p>
                    <p>컴공20 이승원 <i class="nes-icon github is-small"></i></p>
                    <menu class="dialog-menu" style="display: flex; justify-content: center;">
                        <button class="nes-btn is-primary">닫기</button>
                    </menu>
                </form>
            </dialog>
        </section>

    </div>

    <script>
        function toggleMenu() {
            var menuPanel = document.getElementById("myNav");
            if (menuPanel.style.width === "250px") {
                menuPanel.style.width = "0";
            } else {
                menuPanel.style.width = "250px";
            }
        }
    </script>
</nav>
</body>
</html>
