<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Navigation Example</title>
    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet" />
    <link href="/css/navbar_style.css" rel="stylesheet" /> <!-- 분리된 CSS 파일을 참조 -->


</head>
<body>
    <nav th:fragment="navbarnes">
    <div class="navbar">
        <section>
            <button type="button" class="nes-btn maker" onclick="document.getElementById('dialog-rounded-maker').showModal();">
                만냠
            </button>
            <dialog class="nes-dialog is-rounded" id="dialog-rounded-maker" style="width: 80%; text-align: center;">
                <form method="dialog">
                    <p class="title">반가워용</p>
                    <p>컴공20 고경우 <i class="nes-icon github is-small"></i></p>
                    <p>컴공20 김준형 <i class="nes-icon github is-small"></i></p>
                    <p>컴공20 이승원 <i class="nes-icon github is-small"></i></p>
                    <menu class="dialog-menu" style="display: flex; justify-content: center;">
                        <button class="nes-btn is-primary">닫기</button>
                    </menu>
                </form>
            </dialog>
        </section>

        <div>
            <div class="hamburger-menu" onclick="toggleMenu()">
                <i class="nes-logo"></i>
            </div>
        </div>
    </div>

    <div id="myNav" class="menu-panel">
        <a href="/userinfo">내 정보수정</a>
        <a href="/match">매칭하기</a>
        <a th:href="@{/match/{userId}(userId=${user.id})}">나의 매칭</a>
        <a href="#">이용방법</a>

        <section>
            <button type="button" class="nes-btn is-primary want" onclick="document.getElementById('dialog-rounded-inSta').showModal();">
                건의사항
            </button>
            <dialog class="nes-dialog is-rounded " id="dialog-rounded-inSta" style="width: 80%;">
                <form method="dialog">
                    <p class="title-want" style="justify-content: center; align-items: center;">건의사항 & 버그신고</p>
                    <p style="display: flex; justify-content: center; align-items: center;">
                        <span style="margin-right: 10px;">CESC</span>
                        <a href="https://www.instagram.com/cuk_csec" class="nes-icon instagram is-small"></a>
                    </p>
                    <p>버그나 건의사항 <br>위 계정으로 DM 주시면 <br>감사하겠습니다^^</p>
                    <menu class="dialog-menu" style="display: flex; justify-content: center;">
                        <button class="nes-btn is-primary">닫기</button>
                    </menu>
                </form>
            </dialog>
        </section>


    </div>

    <script>
        function toggleMenu() {
            var menuPanel = document.getElementById("myNav");
            if (menuPanel.style.width === "250px") {
                menuPanel.style.width = "0";
            } else {
                menuPanel.style.width = "250px";
            }
        }
    </script>
</nav>
</body>
</html>
