@font-face {
    font-family: 'retro';
    src: url("/fonts/DungGeunMo.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DungGeunMo.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
    url("/fonts/DungGeunMo.woff2") format('woff2'), /* Super Modern Browsers */
    url("/fonts/DungGeunMo.woff") format('woff'); /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
    /*
    기본경로가 static 작업할땐 ../static 배포할땐 지우고 배포하자
     */
}

/* 모든 텍스트에 적용 */
body{
    font-family: 'retro', sans-serif;
}

/* 화면 전체를 커버하는 최소 높이 설정 */
.full-height {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcecec; /* NES 스타일에 맞는 배경색 */
}
/* 컨텐츠 박스 스타일링 */
.content-box {
    text-align: center;
    width: 90%;
    max-width: 400px; /* 최대 너비 설정 */
    width: 400px;
    height: 400px;
}
.nes-container {
    background-color: #fff; /* 내용 영역 배경색 변경 */
    padding: 2rem; /* 패딩 조정 */
}
h1.nes-text {
    margin-bottom: 2rem; /* 제목과 버튼 사이의 간격을 2rem으로 설정 */
}