@font-face {
    font-family: 'retro';
    src: url("/fonts/DungGeunMo.eot"); /* IE9 Compat Modes */
    src: url("/fonts/DungGeunMo.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
    url("/fonts/DungGeunMo.woff2") format('woff2'), /* Super Modern Browsers */
    url("/fonts/DungGeunMo.woff") format('woff'); /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
    /*
    기본경로가 static 작업할땐 ../static 배포할땐 지우고 배포하자
     */
}
body {
    font-family: 'retro', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    font-size: 18px;
    background-color: #f0f0f0; /* 배경색을 살짝 회색빛으로 설정 */
}

.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.nes-kirby {
    margin-top: 10px;
    text-align: center;
}

.container.match-result {
    margin-top: 50px; /* 네비게이션 바와의 간격을 설정 */
    background-color: #ffffff; /* 컨테이너 배경을 흰색으로 설정 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 약간의 그림자를 추가하여 부드럽게 */
}