<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" type="image/webp" href="/mat.webp?v=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>맛있는 만남</title>
    <link rel="stylesheet" href="https://unpkg.com/nes.css/css/nes.min.css">
    <link href="/css/index_style.css" rel="stylesheet" />
    <style>

    </style>
</head>
<body>
<div class="full-height">
    <div class="content-box nes-container is-rounded">
        <h1 class="nes-text is-primary">만냠</h1>
        <p class="nes-balloon from-left nes-pointer">
            <span class="nes-text is-success">나랑 밥 먹으러 가자...</span>
        </p>
        <section class="icon-list">
            <i class="nes-kirby"></i>
        </section>
        <a th:href="@{/oauth2/authorization/kakao}" class="nes-btn is-warning">카카오로 로그인</a>
    </div>
</div>
</body>
</html>
