<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/webp" href="/mat.webp?v=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>매칭 폼</title>
    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet" />
    <!-- 분리된 CSS 파일을 참조 -->
    <link href="/css/navbar_style.css" rel="stylesheet" />
    <link href="/css/match_form_style.css" rel="stylesheet" />


</head>
<body>
<!--- 네비게이션--->
<nav th:replace="~{layout/navbar_nes :: navbarnes}"></nav>

<div class="nes-container with-title match-form-container">
    <p class="title">
        <span class="nes-text is-primary">
            만냠 정보 입력
        </span>
    </p>
    <form th:action="@{/match}" th:object="${matchForm}" method="post">
        <!-- 음식 종류 선택 -->
        <div class="nes-field">
            <label for="foodType">음식 종류</label>
            <div class="nes-select is-success">
                <select id="foodType" th:field="*{foodType}" required>
                    <option value="" disabled selected>음식 종류를 선택하세요</option>
                    <option value="한식">한식</option>
                    <option value="중식">중식</option>
                    <option value="일식">일식</option>
                    <option value="양식">양식</option>
                </select>
            </div>
        </div>
        <!-- 식사 시간 선택 -->
        <div class="nes-field">
            <label for="mealTime">식사 시간</label>
            <div class="nes-select is-warning">
                <select id="mealTime" th:field="*{timeSlot}" required>
                    <option value="" disabled selected>식사 시간</option>
                    <option value="점심">점심</option>
                    <option value="저녁">저녁</option>
                </select>
            </div>
        </div>
        <div class="nes-field">
            <label>매칭선호</label>
            <div class="nes-radio-group" style="background-color:#212529; padding: 1rem 0;">
                <label>
                    <input type="radio" th:field="*{preferGender}" value="이성" class="nes-radio is-dark" name="preferGender" required />
                    <span>이성</span>
                </label>
                <!--<label>
                    <input type="radio" th:field="*{preferGender}" value="여" class="nes-radio is-dark" name="preferGender" />
                    <span>동성</span>
                </label>-->
            </div>
        </div>
        <section>
            <!-- 매칭하기 버튼 -->
            <div class="button-center">
                <button type="button" class="nes-btn is-primary" onclick="document.getElementById('dialog-rounded-match').showModal();">만냠하기</button>
            </div>
            <dialog class="nes-dialog is-rounded" id="dialog-rounded-match" style="width: 80%; text-align: center;">
                <form method="dialog">
                    <p class="nes-text is-error" style="text-align: center;">만냠을 시작하기 전에,<br>내 정보를 확인해 주세요!</p>
                    <p th:text="'이름: ' + ${user.name}"></p>
                    <p th:text="'전화번호: ' + ${user.phoneNum}"></p>
                    <p th:text="'성별: ' + (${user.gender} == 'M' ? '남' : '여')"></p>
                    <menu class="dialog-menu" style="display: flex; justify-content: center; align-items: center; gap: 20px;">
                        <button type="button" class="nes-btn" style="margin: 0; width: 100px;" onclick="document.getElementById('dialog-rounded-match').close();">취소</button>
                        <button type="submit" class="nes-btn is-primary" style="margin: 0; width: 100px;">만냠하기</button>
                    </menu>
                </form>
            </dialog>
        </section>
    </form>
</div>

<!-- 매칭 확인 다이얼로그 -->


</body>
</html>
