<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/webp" href="/mat.webp?v=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>매칭 중...</title>
    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet" />
    <!-- 분리된 CSS 파일을 참조 -->
    <link href="/css/navbar_style.css" rel="stylesheet" />
    <link href="/css/matching_style.css" rel="stylesheet" />

</head>
<body>
<!--- 네비게이션--->
<nav th:replace="~{layout/navbar_nes :: navbarnes}"></nav>


<div class="nes-container is-rounded">
    <p class="title">매칭중...</p>
    <div class="nes-container is-rounded info-text">
        <p>매칭이 완료되면 핸드폰으로 문자가 갈꺼야</p>
    </div>
    <div class="icon-button-container">
        <!-- octocat -->
        <i class="nes-octocat animate"></i>
        <p class="nes-balloon from-left nes-pointer">
            <span class="nes-text is-success">오늘 머먹지</span>
        </p>
        <a href="https://nyumtolic.com" type="button" class="nes-btn is-success">냠톨릭</a><br>

    </div>

    <div>
        <p>나의 만냠요청</p>
        <p th:text="'음식종류: ' + ${user.getMatchForm().foodType}"></p>
        <p th:text="'시간: ' + ${user.getMatchForm().timeSlot}"></p>
    </div>
</div>

</body>
</html>
