<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>나의 매칭결과</title>
    <link href="https://unpkg.com/nes.css/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="/css/navbar_style.css" rel="stylesheet" />
    <link href="/css/match_status_style.css" rel="stylesheet"/>
</head>



<body>
<!-- 네비게이션 -->
<nav th:replace="~{layout/navbar_nes :: navbarnes}"></nav>

<div class="container match-result">
    <!-- 매칭 결과 표시 -->
    <div class="nes-container with-title matches-container is-rounded">
        <p class="title">만냠 결과</p>

        <!-- 조건에 따른 메시지 표시 -->
        <div th:if="${user.matched} == false and ${user.matchForm} == null">
            <p>아직 만냠을 시작하지 않으셨군요</p>
        </div>

        <div th:if="${user.matched} == true">
            <div class="nes-container is-rounded match">
                <p th:text="'내이름: ' + ${user.getName()}"></p>
                <p th:text="'음식종류: ' + ${user.getMatchForm().foodType}"></p>
                <p th:text="'시간: ' + ${user.getMatchForm().timeSlot}"></p>
                <p th:text="'파트너 이름: ' + ${partnerName}"></p>
            </div>
        </div>
    </div>

    <section class="icon-list">
        <i class="nes-kirby"></i>
    </section>
</div>

</body>
</html>
